Always run relevant commands using poetry (e.g. `poetry run pytest -q` instead of `pytest -q`)
If you are running a frontend script or command make sure to cd into the frontend directory before running the command
If a python package needs to be added, use `poetry add <package>` instead of trying to directly edit pyproject.toml