# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VS Code
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db
dev.db

# Coverage
.coverage
.coverage.*
htmlcov/

# pytest cache
.pytest_cache/

# Environment variables
.env
.venv

# Poetry lockfile
# poetry.lock